@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Poppins', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1721843431268-b8e380c6892f?q=80&w=2854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* overflow: hidden; */
    
  }

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
::-webkit-scrollbar:hover{
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #6e6e6e;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}


.no-scrollbar::-webkit-scrollbar {
display: none;
}

.no-scrollbar::-webkit-scrollbar {
display: none;
}